.border {}

select {}




.perk_container,
.skills_container,
.weapon_container {
    position: relative;
    display: flex;
    gap: 20px;
    border: rgb(125, 125, 125) solid 2px;
    padding: 20px 20px 4px 20px;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: -20px;
    flex-wrap: wrap;
}

.perk_container input {
    max-width: 90px;
}

.perk_container select {
    width: 2%;
    min-width: fit-content;
}

.perkLevels {}

.perkBonus,
.zed_time_container,
.focus,
.weapon_damage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.perkBonus p {
    margin-bottom: -4px;
}

.bigBold {
    font-size: 30px;
    font-weight: 600;
}

.details {
    display: flex;
    gap: 24px;
}


.zed_time_container {
    gap: 8px;

}

.focus input {
    margin-top: -6px;
    transform: scale(0.8);
}

/* SKILLS */
.skills_container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

/* WEAPONS */

.weapon_container {
    display: flex;
    padding: 20px;
}

.weapon_container select {
    width: fit-content;
    position: relative;
    top: 8px;
}

.weapon_container img {
    width: 300px;
    height: 100px;
    margin: 0 30px;
}

.weapon_container select:nth-of-type(2) {
    margin-left: -20px;
}

.weapon_damage p {
    position: relative;
    top: 0px;
    margin-bottom: 0;

}